/* Theme Website Colors 

Yellow: #ffe13a
Bright Yellow: #fffa00
Dark Yellow: #edbd10
White: #fff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  Color: #777;
  padding: 15px;
}

.headerbg {
  height: 95vh;
  background-image:linear-gradient(to right bottom, #ffee00ab, #b8b63052), url(../Image/MainImage.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 550px, 0 100%)
  
}

.logo {
  position: relative;
  bottom: -5px;

}
.gogo {
  color:rgba(255, 255, 255, 0.822);
  position: relative;
  bottom: -6px;
  left: -400px;
  font-weight: 400;
  font-size: 50px;
  font-family: sans-serif;
  box-shadow: #777
}

.teambg {
  background-image: linear-gradient(to right bottom, #ffee00b4, #b8b63038), url(../Image/Website-2.jpg);
  background-size: cover;
  background-position: top;
  height: 115vh;
  clip-path: polygon(0 110px, 100% 0, 100% 690px, 0 100%);
  position: relative;
  top: -75px
}

.Myteamgogo {

  Position: relative;
  left: -80px;
  bottom: -10px;
}

.Myheadergogo {

  Position: relative;
  left: -80px;
  bottom: 40px;
}

.MyTeamDoc {
  Position: relative;
  left: -10px;
  bottom: -20px;
}

.skillsbg {
  background-image: linear-gradient(to right bottom, #ffee00ab, #b8b63038), url(../Image/Website-6.jpg);
  background-size: cover;
  background-position: top;
  height: 115vh;
  clip-path: polygon(0 110px, 100% 0, 100% 690px, 0 100%);
  position: relative;
  top: -145px;
}
