/* Theme Website Colors 

Yellow: #ffe13a
Bright Yellow: #fffa00
Dark Yellow: #edbd10
White: #fff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  Color: #777;
  padding: 15px;
}

.header {
  height: 95vh;
  background-image:linear-gradient(to right bottom, #fffb00d3, #edbd1081), url(../Image/MainImage.jpg);
  background-size: cover;
  background-position:  bottom;
  clip-path: polygon(0 0, 100% 0, 100% 550px, 0 100%)
}

